apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aisec-data
  labels:
    app.kubernetes.io/name: aisec
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aisec-reports
  labels:
    app.kubernetes.io/name: aisec
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
